.whatsapp {
  padding: 2rem 0.5rem;
  background: #ebebeb;
  min-height: 66dvh;
}

.whatsapp .form {
  padding-inline: 0.5rem;
}

.whatsapp .form p {
  text-align: center;
  font-size: 1.2rem;
  color: #077038;
  margin-bottom: 1rem;
}

.form .inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.input input {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 1.15em;
  font-weight: 500;
  color: #1c1a27;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: all 0.25s;
}

.form .input label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  font-size: 1.2em;
  font-weight: 400;
}
.form .input input::placeholder {
  font-family: "Vazirmatn", "Tajawal", "Roboto", sans-serif;
  color: #1c1a27b5;
}

.form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.form .btn button {
  width: 50%;
  font-family: "Vazirmatn", "Tajawal", "Roboto", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #58cc02;
  border: none;
  padding: 10px;
  height: 100%;
  box-shadow: 0 4px 0 #58a700;
  border-radius: 12px;
  cursor: pointer;
}
