/*  ?font */
/* Tajawal */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');
/* Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* Vazirmatn */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600&display=swap');

/* ? css variabele */
:root {
  /* color */
  --color-gray : #bbc5cb;
  --white-color-light: #f6f5ff;
  --icon-color : #54656f;
  --icon-color-light : #bbc5cb;
  --main-bgc : #ebebeb;
  --white-color-light : #f8f8f8;
  --text-color : #325871;
  --text-color-light : #3b4a54;
  --whatsapp-color-light : #25d366;
  --whatsapp-color : #179652;
  --whatsapp-color-dark : #077139;
  --app-background : #eae6df;

  /* trasition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

/*? css reset */
* , *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-family: 'Changa', sans-serif;
  background-color: var(--main-bgc);
  /* background-image: linear-gradient(180deg,var(--app-background),var(--app-background-deeper)); */

}

a {
  all: unset;
}

.d-f {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dir-fr {
  direction: ltr;
}

.f-ar {
  font-family: 'Vazirmatn' , 'Tajawal' , 'Roboto' , sans-serif;
}

.f-fr {
  font-family: 'Roboto' , 'Tajawal' , 'Vazirmatn' , sans-serif;
}

::selection {
  background-color: var(--whatsapp-color);
  color : var(--white-color-light);

}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #13c867;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn[disabled] , button[disabled]{
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
}